<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/css/footer.css">
    <link rel="stylesheet" href="/css/home1.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <title>ReviewKing</title>
  </head>
  <body>
    <%- include ('partials/nav') %>
    <br>
    <br>
    <br>
    <p><%= name %></p>
    <div class="container">
     <div class="card-group vgr-cards">
      <div class="card">
        <% for (let i=0; i<movies.length; i++) {%>
          <a href="moviedetail">
            <div class="card-img-body">
            <% if(movies[i].img){ %>
              <img class="card-img" src="./uploads/<%= movies[i].img %>" alt="image">
            <%}%>
            </div>
            <div class="card-body">
            <h4 class="card-title"><%=movies[i].movieName%></h4>
          </a>
        <%}%>
      </div>
    </div>
  </div>
</div>
<%- include ('partials/footer') %>
</body>
</html>
