<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/css/card1.css">
    <link rel="stylesheet" href="/css/comment.css">
    <link rel="stylesheet" href="/css/footer.css">
    <link rel="stylesheet" href="/css/nav.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <title>ReviewKing</title>
  </head>
  <body>
    <%- include ('partials/nav') %>
    <br>
    <br>
    <br>
    <div class="container-fluid">
      <div class="row">
     <div class="col-12 mt-3">
      <div class="card">
        <div class="card-horizontal">
          <div class="img-square-wrapper">
                  <% if(movies.img){ %>
                  <img class="image" src="../uploads/<%= movies.img %>" alt="image">
                  <%}%>
              </div>
                <div class="card-body">
                  <h4 class="card-title"><%=movies.movieName%></h4>
                  <h5 class="card-title"><%=movies.movieCategory%></h5>
                  <h5 class="card-title"><%=movies.director%></h5>
                  <p class="card-text"><%=movies.summary%></p>
                </div>
         </div>
        </div>
       </div>
      </div>
     </div>
     <br>
     <br>
     <form class="frm" action="/addRating/<%=movies.movieName%>" method="post">
       <label for="comm">Rate the Movie</label>
       <br>
       <input type="radio" name="" value="1">1
       <input type="radio" name="" value="2">2
       <input type="radio" name="" value="3">3
       <input type="radio" name="" value="4">4
       <input type="radio" name="" value="5">5
       <button type="submit" class="btn btn-secondary" name="submit">Submit</button>
     </form>
     <br>
     <br>
     <form action="/addComment/<%=movies.movieName%>" method="POST">
       <label class="lab" for="comm">Comment</label>
       <br>
       <textarea type="text" class="texty" name="comm"></textarea>
       <br>
       <button type="submit" class="btn btn-secondary" name="submit">Submit</button>
      </form>
      <br>
      <br>

      <div class="cnt">
      <h3>Comments</h3>
      <% reviews.forEach(function(reviews){%>
        <h5><%=reviews.user%></h5>
        <p><%=reviews.comment%></p>
      <%})%>
    </div>
      <%- include ('partials/footer') %>
  </body>
</html>
